<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Magegiant_Fullpagecache>
            <version>1.0.0</version>
        </Magegiant_Fullpagecache>
    </modules>
    <global>
        <cache>
            <types>
                <fullpage>
                    <label>Full page Cache</label>
                    <description>Full Page Cache</description>
                    <tags>FULLPAGE</tags>
                </fullpage>
            </types>
        </cache>
        <blocks>
            <fullpagecache>
                <class>Magegiant_Fullpagecache_Block</class>
            </fullpagecache>
        </blocks>
        <helpers>
            <fullpagecache>
                <class>Magegiant_Fullpagecache_Helper</class>
            </fullpagecache>
        </helpers>
        <models>
            <fullpagecache>
                <class>Magegiant_Fullpagecache_Model</class>
                <resourceModel>fullpagecache_mysql4</resourceModel>
            </fullpagecache>
            <fullpagecache_mysql4>
                <class>Magegiant_Fullpagecache_Model_Mysql4</class>
                <entities>
                    <cache_blockhtml_config>
                        <table>cache_blockhtml_config</table>
                    </cache_blockhtml_config>
                    <cache_blockhtml_learning>
                        <table>cache_blockhtml_learning</table>
                    </cache_blockhtml_learning>
                    <cache_fullpage_config>
                        <table>cache_fullpage_config</table>
                    </cache_fullpage_config>
                </entities>
            </fullpagecache_mysql4>
        </models>
        <resources>
            <magegiant_fullpagecache_setup>
                <setup>
                    <module>Magegiant_Fullpagecache</module>
                    <class>Magegiant_Fullpagecache_Model_Core_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magegiant_fullpagecache_setup>
            <fullpagecache_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fullpagecache_write>
            <fullpagecache_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fullpagecache_read>
        </resources>
        <events>
            <controller_front_init_routers>
                <observers>
                    <fullpagecache_core_storemap_1>
                        <class>Magegiant_Fullpagecache_Model_Core_Storemap</class>
                        <method>save</method>
                    </fullpagecache_core_storemap_1>
                </observers>
            </controller_front_init_routers>
            <sales_order_place_after>
                <observers>
                    <fullpagecache_cache_observer_9>
                        <class>fullpagecache/cache_observer</class>
                        <method>cleanOrderItemsCache</method>
                    </fullpagecache_cache_observer_9>
                </observers>
            </sales_order_place_after>
            <cataloginventory_stock_item_save_before>
                <observers>
                    <fullpagecache_cache_observer_12>
                        <class>fullpagecache/cache_observer</class>
                        <method>cleanStockItemCache</method>
                    </fullpagecache_cache_observer_12>
                </observers>
            </cataloginventory_stock_item_save_before>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <fullpagecache_cache_observer_13>
                        <class>fullpagecache/cache_observer</class>
                        <method>cleanStockItemCache</method>
                    </fullpagecache_cache_observer_13>
                </observers>
            </cataloginventory_stock_item_save_after>
        </events>
        <index>
            <indexer>
                <fullpagecache_catalog_url>
                    <model>fullpagecache/optimization_indexer_url</model>
                </fullpagecache_catalog_url>
            </indexer>
        </index>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <fullpagecache before="Mage_Adminhtml">Magegiant_Fullpagecache_Adminhtml</fullpagecache>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <fullpagecache>
                    <file>magegiant/fullpagecache.xml</file>
                </fullpagecache>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magegiant_Fullpagecache>
                    <files>
                        <default>Magegiant_Fullpagecache.csv</default>
                    </files>
                </Magegiant_Fullpagecache>
            </modules>
        </translate>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <fullpagecache_observer_1>
                        <class>fullpagecache/observer</class>
                        <method>addProductDeleteCacheMassAction</method>
                    </fullpagecache_observer_1>
                    <fullpagecache_observer_2>
                        <class>fullpagecache/observer</class>
                        <method>addCategoryDeleteCacheAction</method>
                    </fullpagecache_observer_2>
                </observers>
            </adminhtml_block_html_before>

            <!--<controller_action_predispatch_adminhtml_system_config_edit>-->
            <!--<observers>-->
            <!--<fullpagecache_observer_3>-->
            <!--<class>fullpagecache/observer</class>-->
            <!--<method>validateLicenceKey</method>-->
            <!--</fullpagecache_observer_3>-->
            <!--</observers>-->
            <!--</controller_action_predispatch_adminhtml_system_config_edit>-->

            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <fullpagecache_cache_observer_3>
                        <class>fullpagecache/cache_observer</class>
                        <method>cleanFullpagecacheCache</method>
                    </fullpagecache_cache_observer_3>
                    <fullpagecache_core_storemap_4>
                        <class>Magegiant_Fullpagecache_Model_Core_Storemap</class>
                        <method>delete</method>
                    </fullpagecache_core_storemap_4>
                    <fullpagecache_optimization_observer_3>
                        <class>fullpagecache/optimization_observer</class>
                        <method>handleFullpagecacheIndexUrlActivation</method>
                    </fullpagecache_optimization_observer_3>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
            <cms_page_save_after>
                <observers>
                    <fullpagecache_cache_observer_14>
                        <class>fullpagecache/cache_observer</class>
                        <method>cleanCmsPageCache</method>
                    </fullpagecache_cache_observer_14>
                </observers>
            </cms_page_save_after>
            <cms_page_delete_after>
                <observers>
                    <fullpagecache_cache_observer_15>
                        <class>fullpagecache/cache_observer</class>
                        <method>cleanCmsPageCache</method>
                    </fullpagecache_cache_observer_15>
                </observers>
            </cms_page_delete_after>
            <catalog_product_save_after>
                <observers>
                    <fullpagecache_cache_observer_4>
                        <class>fullpagecache/cache_observer</class>
                        <method>cleanProductCategoriesCache</method>
                    </fullpagecache_cache_observer_4>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_after>
                <observers>
                    <fullpagecache_cache_observer_5>
                        <class>fullpagecache/cache_observer</class>
                        <method>cleanProductCategoriesCache</method>
                    </fullpagecache_cache_observer_5>
                </observers>
            </catalog_product_delete_after>
            <catalog_category_save_after>
                <observers>
                    <fullpagecache_cache_observer_6>
                        <class>fullpagecache/cache_observer</class>
                        <method>cleanCategoryCache</method>
                    </fullpagecache_cache_observer_6>
                </observers>
            </catalog_category_save_after>
            <catalog_category_delete_after>
                <observers>
                    <fullpagecache_cache_observer_7>
                        <class>fullpagecache/cache_observer</class>
                        <method>cleanCategoryCache</method>
                    </fullpagecache_cache_observer_7>
                </observers>
            </catalog_category_delete_after>
            <store_save_after>
                <observers>
                    <fullpagecache_core_storemap_2>
                        <class>Magegiant_Fullpagecache_Model_Core_Storemap</class>
                        <method>delete</method>
                    </fullpagecache_core_storemap_2>
                </observers>
            </store_save_after>
            <store_delete_after>
                <observers>
                    <fullpagecache_core_storemap_3>
                        <class>Magegiant_Fullpagecache_Model_Core_Storemap</class>
                        <method>delete</method>
                    </fullpagecache_core_storemap_3>
                </observers>
            </store_delete_after>
            <controller_action_postdispatch_adminhtml_compiler_process_run>
                <observers>
                    <fullpagecache_core_storemap_3>
                        <class>Magegiant_Fullpagecache_Model_Core_Storemap</class>
                        <method>delete</method>
                    </fullpagecache_core_storemap_3>
                </observers>
            </controller_action_postdispatch_adminhtml_compiler_process_run>
        </events>

    </adminhtml>
    <frontend>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <fullpagecache_cache_blockhtml_observer_1>
                        <type>singleton</type>
                        <class>fullpagecache/cache_blockhtml_observer</class>
                        <method>startTimer</method>
                    </fullpagecache_cache_blockhtml_observer_1>
                    <fullpagecache_cache_blockhtml_observer_2>
                        <type>singleton</type>
                        <class>fullpagecache/cache_blockhtml_observer</class>
                        <method>handleBlockhtmlCache</method>
                    </fullpagecache_cache_blockhtml_observer_2>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <fullpagecache_cache_blockhtml_observer_4>
                        <type>singleton</type>
                        <class>fullpagecache/cache_blockhtml_observer</class>
                        <method>addBlockInLearningMode</method>
                    </fullpagecache_cache_blockhtml_observer_4>
                    <fullpagecache_optimization_observer_4>
                        <class>fullpagecache/optimization_observer</class>
                        <method>changeAbsoluteUrlsInMergedCss</method>
                    </fullpagecache_optimization_observer_4>
                </observers>
            </core_block_abstract_to_html_after>
            <controller_action_layout_load_before>
                <observers>
                    <fullpagecache_observer_6>
                        <class>fullpagecache/observer</class>
                        <method>disableReportsProductDisplay</method>
                    </fullpagecache_observer_6>
                    <fullpagecache_cache_fullpage_cookie_1>
                        <class>fullpagecache/cache_fullpage_cookie</class>
                        <method>setFullpagecacheCacheFullpage</method>
                        <type>singleton</type>
                    </fullpagecache_cache_fullpage_cookie_1>
                    <fullpagecache_observer_4>
                        <class>fullpagecache/observer</class>
                        <method>disableCatalogSessionMemorizeParams</method>
                    </fullpagecache_observer_4>
                    <fullpagecache_optimization_observer_1>
                        <class>fullpagecache/optimization_observer</class>
                        <method>addSpriteCss</method>
                    </fullpagecache_optimization_observer_1>
                </observers>
            </controller_action_layout_load_before>
            <controller_action_postdispatch>
                <observers>
                    <fullpagecache_optimization_observer_2>
                        <type>singleton</type>
                        <class>fullpagecache/optimization_observer</class>
                        <method>observeHtml</method>
                    </fullpagecache_optimization_observer_2>
                    <fullpagecache_cache_fullpage_observer_5>
                        <class>fullpagecache/cache_fullpage_observer</class>
                        <method>handleFullpageCache</method>
                        <type>singleton</type>
                    </fullpagecache_cache_fullpage_observer_5>
                    <fullpagecache_cache_fullpage_cookie_2>
                        <class>fullpagecache/cache_fullpage_cookie</class>
                        <method>sendCookie</method>
                        <type>singleton</type>
                    </fullpagecache_cache_fullpage_cookie_2>
                </observers>
            </controller_action_postdispatch>
            <controller_action_predispatch>
                <observers>
                    <fullpagecache_observer_5>
                        <class>fullpagecache/observer</class>
                        <method>disableFormKey</method>
                        <type>singleton</type>
                    </fullpagecache_observer_5>
                </observers>
            </controller_action_predispatch>
        </events>
        <layout>
            <updates>
                <fullpagecache>
                    <file>magegiant/fullpagecache.xml</file>
                </fullpagecache>
            </updates>
        </layout>
    </frontend>
    <crontab>
        <jobs>
            <fullpagecache_clean_old_cache_entries>
                <schedule>
                    <cron_expr>0 */2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>fullpagecache/cache_observer::cleanOldCacheEntries</model>
                </run>
            </fullpagecache_clean_old_cache_entries>
        </jobs>
    </crontab>
    <default>
        <magegiant_fullpagecache>
            <optimization_index_url>1</optimization_index_url>
            <disable>1</disable>
            <notvisible>1</notvisible>
        </magegiant_fullpagecache>
    </default>
</config>