<?xml version="1.0"?>
<config>
    <modules>
        <Sinanju_Marketplace>
            <version>0.1.0</version>
        </Sinanju_Marketplace>
    </modules>
    <global>
        <models>
            <sinanju_marketplace>
                <class>Sinanju_Marketplace_Model</class>
                <resourceModel>sinanju_marketplace_resource</resourceModel>
            </sinanju_marketplace>
            <sinanju_marketplace_resource>
                <class>Sinanju_Marketplace_Model_Resource</class>
                <entities>
                    <sinanju_marketplace_product>
                        <table>sinanju_marketplace_product</table>
                    </sinanju_marketplace_product>
                </entities>
            </sinanju_marketplace_resource>
        </models>
        <blocks>
            <sinanju_marketplace>
                <class>Sinanju_Marketplace_Block</class>
            </sinanju_marketplace>
        </blocks>
        <helpers>
            <sinanju_marketplace>
                <class>Sinanju_Marketplace_Helper</class>
            </sinanju_marketplace>
        </helpers>
        <resources>
            <sinanju_marketplace_setup>
                <setup>
                    <module>Sinanju_Marketplace</module>
                </setup>
            </sinanju_marketplace_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <sinanju_marketplace>
                    <file>sinanju_marketplace.xml</file>
                </sinanju_marketplace>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <save_marketplace_product_info>
                        <type>singleton</type>
                        <class>Sinanju_Marketplace_Model_Observer</class>
                        <method>saveMarketplaceProduct</method>
                    </save_marketplace_product_info>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
</config>